<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="WebDAV" />
            <!-- Configure ASP.NET to handle our API endpoints -->
            <add name="aspNetCore" path="api/*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            <!-- Add handler for API processing -->
            <add name="ApiHandler" path="api-handler.ashx" verb="*" type="EasyOnboarding.ApiHandler" preCondition="integratedMode" />
        </handlers>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- API rewrite rule - forward to our API backend -->
                <rule name="API Rewrite" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <action type="Rewrite" url="api-handler.ashx?path={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="easyONBOARDING.html" />
                <add value="index.html" />
                <add value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <compilation debug="false" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
        <authentication mode="Windows" />
        <authorization>
            <deny users="?" />
        </authorization>
        <sessionState mode="InProc" timeout="30" />
    </system.web>
</configuration>
